################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GAME1017_LE5_AliAssad/.vs/GAME1017_Obstacles/v17/Browse.VC.db-wal
